.i-navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #222;
  color: #FFA700;
  align-items: center;
}
.dark .i-navbar h3{
  color: white;
}

/* Mobile */
@media(max-width: 768px) {
  .i-navbar {
    flex-direction: column;
    gap: 10px;
  }
}
