.admin-navbar {
  height: 60px;
  background: #ffffff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
.admin-navbar h3{
  color: #FF7A00;
}
.dark .admin-navbar {
  background: #111;
  color: #fff;
  box-shadow: none;
}
.dark .admin-navbar h3{
  color: white;
}

.theme-toggle-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #FFA700;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.theme-toggle-btn:hover {
  background: #FF7A00;
}
