.admin-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

.admin-content {
  margin-left: 240px;
  padding: 20px;
  padding-top: 80px; /* navbar space */
  width: calc(100% - 240px);
}

@media (max-width: 700px) {
  .admin-content {
    margin-left: 0;
    width: 100%;
  }
}
